
# Ignorar datos y resultados locales
*.csv
*.txt
!requirements.txt
*.png
*.json
*.pkl
*.gz
*.keras

# Ignorar carpeta de librería local
NONAN_Library_main/
prueba.ipynb
saved_models
logs
test_cycles.zarr
train_cycles.zarr
val_cycles.zarr
Data_Split
Results AE
git-2.46.0
runs
old adults (56+ years old)
young adults (19–35 years old)
Middle Age Adults
checkpoints
checkpoints_3groups
latents_with_meta.npz
latents.npy
NoteBooks/02_functional_validation_cycles.ipynb
results_nonan

fNIRs
Stride_Variability 

__pycache__/

gmm_labels.npy
HDBSCAN_labels.npy
corr_spearman.npy
corr_pearson.npy
MI_matrix.npy
X_raw.npy
redundancy_outputs
pairs_pearson_dcor_candidates.npy

train_cycles_Xmeta.zarr
val_cycles_Xmeta.zarr